{% extends "masterss.html" %}

{% block title %}Password Reset Sent | Paletra{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="card p-4 mx-auto" style="max-width: 500px;">
    <h4 class="text-center mb-3">Reset Link Sent</h4>

    <p class="text-center">
      We have sent a password reset link to your email.
      <br>
      Please check your inbox and click the link to reset your password.
    </p>

    <div class="text-center mt-3">
      <a href="{% url 'login' %}" class="btn btn-primary rounded-pill px-4">
        Back to Login
      </a>
    </div>
  </div>
</div>
{% endblock %}
